/* General Styles */
body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #F0F7F4;
    color: #32292F;
}

h2 {
    font-size: 2em;
    text-align: center;
}

header {
    background: #333333;
    color: #fff;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main {
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    margin: 0;
    padding: 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    /*margin-top: 20px;*/
    border-top: #77aaff 3px solid;
}

footer p {
    margin: 0;
}

hr {
    margin-top: 5%;
    margin-bottom: 4%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 75%;
}




/* Section de présentation */
.presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url('img/bg_bggenerator_com.png');
}

.content_presentation {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: #70ABAF;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
}

.content_presentation h2 {
    margin-bottom: auto;
    font-size: 2em;
}
.content_presentation h3 {
    margin-bottom: auto;
}
.content_presentation h4 {
    margin-bottom: auto;
}
.content_presentation p {
    margin-bottom: auto;
}

#pdi {
    border-radius: 35px;
    max-width: 25%;
    height: auto;
}


/* Section d'introduction */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
    padding-left: 12%;
    padding-right: 12%;
    text-align: justify;
}


/* Section compétences */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hard_skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #99E1D9;
    padding: 3%;
    padding-top: 1.5%;
    margin: 3%;
    margin-top: 3.5%;
    border-radius: 35px;
    animation: fadeIn 1s ease-in-out;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section h2 {
    margin-bottom: auto;
    text-align: center;
}

.section h3 {
    margin-bottom: auto;
    text-align: center;
}

.sub_section {
    display : flex;
    flex-direction: row;
    justify-content: space-around;
}

.sub-sub_section {
    background-color: #C5ECE7;
    padding : 3%;
    border-radius: 30px;
    transition: transform 0.3s ease-in-out;
}

.sub-sub_section:hover {
    transform: scale(1.1);
}

/* Section formation */
.formation {
    margin-top: auto;
    transition: transform 0.3s ease-in-out;
}
.formation h3 {
    padding-bottom: 5px;
}

.formation:hover {
    transform: scale(1.1);
}
.stage_3e {
    padding-left: 9%;
    padding-right: 9%;
}

/* Section centres d'intérêt */
#cdi {
    padding-left: 9%;
    padding-right: 9%;
    text-align: justify;
}


/* Section contact */
.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #88f4e7;
    margin: 3%;
    border-radius: 35px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: #F0F7F4;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
    text-align: center; /* Keep labels aligned to the left */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    padding-left: 8%;
    text-align: left;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea{
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin: 0 auto;
}

.form-group input[type="submit"] {
    background-color: #70ABAF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 80%;
    margin: 0 auto;
}

.form-group input[type="submit"]:hover {
    background-color: #5a8a8d;
}

#msg {
    height: 100px;
}



@media (max-width: 600px) {
    .formation {
        margin-top: 20px;
    }
    .stage_3e, #cdi {
        padding-left: 5%;
        padding-right: 5%;
    }
    .formation h3 {
        padding-bottom: 10px;
    }

    .form-group label {
        padding-left: 5%;
    }
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group textarea {
    width: 90%;
    }

    .intro {
        margin-bottom: 10%;
    }

    .sub_section {
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        border-style: solid;
        border-color: #99E1D9;
        border-width: 1px;
    }

    .competences {
        padding-left: 5%;
        padding-right: 5%;
        animation: fadeIn 10s ease-in-out;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .presentation {
        padding-left: 5%;
        padding-right: 5%;
        flex-direction: column;
    }
    #pdi {
        border-radius: 25px;
        min-height: 360px;
        min-width: 240px;
    }
    .content_presentation {
        padding: 10px;
        border-radius: 25px;
    }
}